<div class="view-cont">
  <h1 class="mat-h2">Поставщики услуг</h1>

  <div class="list-cont">
    <sy-blocklist-providers [providers$]="providers$"
                            (onEditProvider)="onEditProvider($event)"
                            (onDeleteProvider)="onDeleteProvider($event)"
                            (onAddService)="onAddService($event)">
    </sy-blocklist-providers>

    <button mat-fab color="primary" (click)="onAddProvider()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
