<div *ngFor="let provider of providers">
  <mat-card>
    <h2 class="mat-h2">{{provider.name}} <span>
      <button mat-icon-button (click)="onClickEditProvider(provider.providerId)">
        <mat-icon>edit</mat-icon>
      </button>
    </span></h2>

    <mat-nav-list>
      <mat-list-item *ngFor="let service of provider.services">
        <mat-icon matListIcon color="accent">home_repair_service</mat-icon>
        <a matLine [routerLink]="['/providers', provider.providerId, 'service', service.serviceId]">{{service.name}}</a>
      </mat-list-item>
    </mat-nav-list>

    <hr>

    <div class="ep-btn-hblock">
        <button mat-stroked-button color="primary" (click)="onClickAddService(provider.providerId)">Добавить услугу</button>
        <button mat-stroked-button (click)="onClickDelProvider(provider.providerId)">Удалить поставщика</button>
    </div>

  </mat-card>
</div>
