<h1 mat-dialog-title>Начисления за потребленный ресурс</h1>

<div>
  <div>Сервис: Квартплата</div>
  <div>За период: 5/10/2020</div>
</div>

<mat-dialog-content class="mat-typography">

  <div class="ep-container">
    <mat-form-field appearance="fill">
      <mat-label>Метод рассчета</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Сумма</mat-label>
      <input matInput>
    </mat-form-field>

  </div>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="example-tab-icon">monetization_on</mat-icon>
        Тарифы
      </mat-panel-title>
      <mat-panel-description>
        Тарифы по данному сервису
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!--Table-->
    <!--Form-->

    <!--<mat-action-row>
      <button mat-button color="primary">Next</button>
    </mat-action-row>-->
  </mat-expansion-panel>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Submit</button>
</mat-dialog-actions>
