<div class="view-cont">
  <h1 class="mat-h2">Справочники</h1>

  <div class="list-cont">
    <mat-list>

      <mat-list-item>
        <mat-icon matListIcon>receipt_long</mat-icon>
        <a matLine [routerLink]="['/consumers']">Потребители</a>
        <p matLine>Данные по потребителям услуг</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListIcon>receipt_long</mat-icon>
        <a matLine [routerLink]="['/providers']">Поставщики услуг</a>
        <p matLine>Данные по поставщикам услуг</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListIcon>receipt_long</mat-icon>
        <a matLine [routerLink]="['/contracts']">Договора</a>
        <p matLine>Данные по договорам между потребителем и поставщиком услуг</p>
      </mat-list-item>

    </mat-list>

  </div>

</div>
