<h1 mat-dialog-title>Внесение оплаты</h1>

<div>
  <div>Сервис: Квартплата</div>
  <div>За период: 5/10/2020</div>
</div>

<mat-dialog-content class="mat-typography" [formGroup]="form">

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="paymentDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>

  <div>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Сумма" formControlName="total">
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Submit</button>
</mat-dialog-actions>
