:host {
  .ep-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;

    padding: 6px;
    background-color: #eee;
    /*border-radius: 6px;*/
    /*box-shadow: inset 1px 2px 2px #a9a9a9;*/
    margin-bottom: 20px;

    .ep-block {
      min-height: 65px;
      margin-left: 5px;
      margin-right: 5px;

      .ep-label {
        font-size: 14px;
      }

      .ep-total {
        border-bottom: 1px solid #eee;
        text-align: right;
        font-size: 43px;
        line-height: 43px;
      }

      .ep-action {
        padding-top: 5px;
      }

      .ep-p-history {
        margin-top: 7px;

        .ep-ph-row {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: flex-start;
          align-content: stretch;

          padding-bottom: 8px;
          padding-left: 10px;
          padding-right: 10px;
          border-bottom: 1px solid #eee;
        }

        .ep-ph-date {

        }
        .ep-ph-value {
          font-weight: 300;
        }
      }
    }

    .ep-block:first-child {
      margin-left: 0;
    }
    .ep-block:last-child {
      margin-right: 0;
    }

    .ep-block-bg {
      flex-grow: 2;
    }

    .ep-block-sm {
      flex-grow: 1;

      .ep-total {
        border-bottom: none;
      }
    }
  }
}
