<p>Операции по периоду</p>

<div class="ep-cont">
  <mat-card class="ep-block ep-block-sm">
    <div class="ep-label">
      Начальное сальдо
    </div>
    <div class="ep-total">
      <sy-digital-label></sy-digital-label>
    </div>
  </mat-card>

  <mat-card class="ep-block ep-block-bg">
    <div class="ep-label">
      Начислено
    </div>
    <div class="ep-total">
      <sy-digital-label></sy-digital-label>
    </div>
    <div class="ep-action">
      <button mat-stroked-button color="primary" (click)="openDialogExpensesAdd()">Добавить</button>
    </div>
  </mat-card>

  <mat-card class="ep-block ep-block-bg">
    <div class="ep-label">
      Оплачено
    </div>
    <div class="ep-total">
      <sy-digital-label></sy-digital-label>
    </div>
    <div class="ep-p-history">
      <div class="ep-ph-row">
        <div class="ep-ph-date">3/12/2020</div>
        <div class="ep-ph-value">0.00 грн</div>
      </div>
      <div class="ep-ph-row">
        <div class="ep-ph-date">3/12/2020</div>
        <div class="ep-ph-value">0.00 грн</div>
      </div>
    </div>
    <div class="ep-action">
      <button mat-stroked-button color="primary" (click)="openDialogPaymentAdd()">Добавить</button>
    </div>
  </mat-card>

  <mat-card class="ep-block ep-block-sm">
    <div class="ep-label">
      Конечное сальдо
    </div>
    <div class="ep-total">
      <sy-digital-label></sy-digital-label>
    </div>
  </mat-card>
</div>
