<div class="chart-wrapper">
  <canvas baseChart
          [height]="300"
          [width]="800"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="chartLegend"
          [chartType]="chartType"
          [plugins]="chartPlugins">
  </canvas>
</div>
