<h1 mat-dialog-title>Договор</h1>

<form [formGroup]="formGroup" novalidate (ngSubmit)="submit()">
  <mat-dialog-content class="mat-typography">

    <div class="ep-container">

      <mat-form-field appearance="fill" readonly="true">
        <mat-label>Потребитель</mat-label>
        <mat-select formControlName="consumerId" required>
          <mat-option *ngFor="let consumer of consumers" [value]="consumer.consumerId">
            {{consumer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Поставщик</mat-label>
        <mat-select formControlName="providerId" required (ngModelChange)="onChangedProvider($event)">
          <mat-option *ngFor="let provider of providers" [value]="provider.providerId">
            {{provider.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Услуга</mat-label>
        <mat-select formControlName="serviceId" required>
          <mat-option *ngFor="let service of services" [value]="service.serviceId">
            {{service.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Дата начала услуги</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="regDate">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Номер абонента</mat-label>
        <input matInput type="text" formControlName="account" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Метод начисления</mat-label>
        <mat-select formControlName="calcMethod" required>
          <mat-option *ngFor="let method of calcMethods" [value]="method.id">
            {{method.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button [mat-dialog-close]="true" [disabled]="formGroup.pristine || formGroup.invalid" type="submit">OK</button>
  </mat-dialog-actions>
</form>
