<div class="view-cont">
  <h1 class="mat-h1">Договора</h1>

  <sy-selected-consumer [hidePeriodDate]="true"></sy-selected-consumer>
  <div class="list-cont">
    <sy-table-contracts [events]="eventsTableReload.asObservable()"
                        (onAddContract)="onAddContract()"
                        (onEditContract)="onEditContract($event)">
    </sy-table-contracts>
  </div>
</div>
