:host {
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
    cursor: pointer;
  }

  .pr-text {
    margin-right: 15px;
  }
  .sec-text {
    color: #afafaf;
    font-size: 13px;
  }
}

.full-width-table {
  width: 100%;
}
