<div class="mat-elevation-z2">
  <table mat-table class="full-width-table" aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let row">{{row.contractId}}</td>
    </ng-container>

    <!-- Number Column -->
    <ng-container matColumnDef="account">
      <th mat-header-cell *matHeaderCellDef>Account</th>
      <td mat-cell *matCellDef="let row">{{row.number}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Service Name</th>
      <td mat-cell *matCellDef="let row"><strong class="pr-text">{{row.service?.name}}</strong> <span class="sec-text">{{row.provider?.name}}</span></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" (click)="onClickEditContract(row.contractId)"></tr>
  </table>

</div>

<button mat-fab color="primary" (click)="onClickAddContract()">
  <mat-icon>add</mat-icon>
</button>
