<div class="u-block-pad">
  <mat-form-field>
    <mat-label>Потребитель</mat-label>
    <mat-select [formControl]="consumer">
      <mat-option value="red">Red</mat-option>
      <mat-option value="green">Green</mat-option>
      <mat-option value="blue">Blue</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>За период</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Услуга</mat-label>
    <mat-select [formControl]="service">
      <mat-option value="red">Red</mat-option>
      <mat-option value="green">Green</mat-option>
      <mat-option value="blue">Blue</mat-option>
    </mat-select>
  </mat-form-field>
</div>
