<h1 mat-dialog-title>Данные потребителя</h1>

<form [formGroup]="formGroup" novalidate (ngSubmit)="submit()">
  <mat-dialog-content class="mat-typography">

    <div class="ep-container">

      <mat-form-field appearance="fill">
        <mat-label>Название объекта</mat-label>
        <input matInput type="text" formControlName="name" required>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Адрес</mat-label>
        <input matInput type="text" formControlName="address" required>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Площадь (м.кв.)</mat-label>
        <input matInput type="number" formControlName="square" required>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Количество проживающих</mat-label>
        <input matInput type="number" formControlName="persons" required>
      </mat-form-field>
      <br>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="formGroup.pristine || formGroup.invalid" type="submit">OK</button>
  </mat-dialog-actions>
</form>
