:host {
  .mat-h3 {
    margin-bottom: 0;
  }
  .ep-list-cont {
    min-width: 400px;
  }
  .ep-list-hr {
    border-bottom: 2px solid #d0d0d0;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #666;
    font-size: 84%;
  }
  .ep-list-row {
    border-bottom: 1px solid #e3e3e3;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .ep-list-row:last-child {
    border-bottom: none;
  }

  .ep-container {
    mat-form-field {
      width: 95%;
    }
  }
}
