<div class="view-cont">
  <div class="nv-cont">
    <div class="nv-btn">
      <button mat-button [routerLink]="['/references']"><mat-icon>arrow_back</mat-icon></button>
    </div>
    <div class="nv-title">
      <h1 class="mat-h1">Потребители</h1>
    </div>
  </div>

  <div class="list-cont">
    <sy-table-consumers
      [events]="eventsTableReload.asObservable()"
      (onEditConsumer)="onEditConsumer($event)"
      (onAddConsumer)="onAddConsumer()">
    </sy-table-consumers>
  </div>

</div>
