:host {
  .nv-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 20px;
  }
  .nv-btn, .nv-title {
    .mat-h1 {
      margin-bottom: 0;
    }
  }
}
