:host {
  .nv-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
  }
  .nv-btn, .nv-title {
    .mat-h1 {
      margin-bottom: 0;
    }
  }

  .ep-details {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .ep-properties {
    /*border: 1px solid black;*/
    display: table;

    .ep-p-row {
      /*border: 1px solid black;*/
      display: table-row;

      .ep-p-th {
        /*border: 1px solid black;*/
        display: table-cell;
        font-weight: 500;
        padding: 8px;
        text-align: right;
      }
      .ep-p-td {
        /*border: 1px solid black;*/
        display: table-cell;
        padding: 8px;
      }
    }
  }
}
