<div class="view-cont">

  <div class="nv-cont">
    <div class="nv-btn">
      <button mat-button [routerLink]="['/providers']"><mat-icon>arrow_back</mat-icon></button>
    </div>
    <div class="nv-title">
      <h1 class="mat-h1">Параметры сервиса</h1>
    </div>
  </div>

  <div class="ep-details">
    <mat-card>
      <div class="ep-properties">
        <div class="ep-p-row">
          <div class="ep-p-th">Поставщик:</div>
          <div class="ep-p-td">{{provider?.name}}</div>
        </div>
        <div class="ep-p-row" *ngIf="service">
          <div class="ep-p-th">Услуга:</div>
          <div class="ep-p-td">{{service?.name}}</div>
        </div>
      </div>
    </mat-card>
  </div>

  <mat-card>

    <form [formGroup]="formGroup" novalidate (ngSubmit)="submit()">
      <mat-form-field appearance="fill">
        <mat-label>Название услуги</mat-label>
        <input matInput type="text" formControlName="serviceName" required>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Индекс перевода единиц учета</mat-label>
        <input matInput type="text" formControlName="calcIndex" required>
      </mat-form-field>
      <br>

      <hr>

      <mat-card-actions>
        <button mat-flat-button [routerLink]="['/providers']">Отмена</button>
        <button mat-flat-button color="primary" [disabled]="formGroup.pristine || formGroup.invalid" type="submit">Сохранить</button>
      </mat-card-actions>
    </form>

  </mat-card>


</div>
