<div class="view-cont">
  <h1 class="mat-h1">Анализ</h1>

  <sy-selected-consumer></sy-selected-consumer>

  <mat-card class="ep-chart">
    <h2 class="mat-h2">Расходы по месяцам</h2>
    <h4 class="mat-h4">Сравнение расходов с предыдущим годом</h4>
    <sy-chart-curr-last-year></sy-chart-curr-last-year>
  </mat-card>

  <mat-card class="ep-chart">
    <h2 class="mat-h2">Структура затрат</h2>
    <h4 class="mat-h4">Величина затрат за месяц</h4>
    <sy-chart-expenses-proportion></sy-chart-expenses-proportion>
  </mat-card>
</div>
