<div class="view-cont">
  <h1 class="mat-h2">Холодная вода</h1>
  <h4 class="mat-h4">Данные по услуге</h4>

  <sy-service-toolbar></sy-service-toolbar>
  <sy-service-exp-pay-details></sy-service-exp-pay-details>
  <sy-table-last-data></sy-table-last-data>
</div>
