<div class="mat-elevation-z2">
  <table mat-table class="full-width-table" aria-label="Elements">

    <!-- Provider Name Column -->
    <ng-container matColumnDef="providerName">
      <th mat-header-cell *matHeaderCellDef>Провадер</th>
      <td mat-cell *matCellDef="let row">{{row.providerName}}</td>
    </ng-container>

    <!-- Service Name Column -->
    <ng-container matColumnDef="serviceName">
      <th mat-header-cell *matHeaderCellDef>Сервис</th>
      <td mat-cell *matCellDef="let row">{{row.serviceName}}</td>
    </ng-container>

    <!-- initial balance -->
    <ng-container matColumnDef="initialBalance">
      <th mat-header-cell *matHeaderCellDef>Начальный остаток</th>
      <td mat-cell *matCellDef="let row">{{row.initialBalance}}</td>
    </ng-container>

    <!-- accruals -->
    <ng-container matColumnDef="accruals">
      <th mat-header-cell *matHeaderCellDef>Начисления</th>
      <td mat-cell *matCellDef="let row">{{row.accruals}}</td>
    </ng-container>

    <!-- payment -->
    <ng-container matColumnDef="payment">
      <th mat-header-cell *matHeaderCellDef>Оплаты</th>
      <td mat-cell *matCellDef="let row">{{row.payment}}</td>
    </ng-container>

    <!-- final balance -->
    <ng-container matColumnDef="finalBalance">
      <th mat-header-cell *matHeaderCellDef>Конечный остаток</th>
      <td mat-cell *matCellDef="let row">{{row.finalBalance}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" [routerLink]="['/serviceSummary', row.id]"></tr>
  </table>
</div>
