<div class="chart-wrapper">
  <canvas baseChart
          [height]="300"
          [width]="800"
          [data]="chartData"
          [colors]="chartColors"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
  </canvas>
</div>
