<p>Данные по предыдущим периодам</p>

<div class="mat-elevation-z2">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Period Column -->
    <ng-container matColumnDef="periodName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Период</th>
      <td mat-cell *matCellDef="let row">{{row.periodName}}</td>
    </ng-container>

    <!-- initialBalance Column -->
    <ng-container matColumnDef="initialBalance">
      <th mat-header-cell *matHeaderCellDef>На начало</th>
      <td mat-cell *matCellDef="let row">{{row.initialBalance}}</td>
    </ng-container>

    <!-- accruals Column -->
    <ng-container matColumnDef="accruals">
      <th mat-header-cell *matHeaderCellDef>Начислено</th>
      <td mat-cell *matCellDef="let row">{{row.accruals}}</td>
    </ng-container>

    <!-- payment Column -->
    <ng-container matColumnDef="payment">
      <th mat-header-cell *matHeaderCellDef>Оплачено</th>
      <td mat-cell *matCellDef="let row">{{row.payment}}</td>
    </ng-container>

    <!-- finalBalance Column -->
    <ng-container matColumnDef="finalBalance">
      <th mat-header-cell *matHeaderCellDef>На конец</th>
      <td mat-cell *matCellDef="let row">{{row.finalBalance}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!--<mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>-->
</div>
