.full-width-table {
  width: 100%;
}

.mat-column-periodName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 32% !important;
  width: 32% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
