<mat-sidenav-container class="sidenav-container">
  <!--<mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>-->
  <!--<mat-sidenav-content>-->
    <mat-toolbar color="primary">
      <!--<button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>-->
      <!--<span>sy-utilities-ui</span>-->

      <mat-toolbar-row>
        <span id="appname">Utilities</span>

        <button mat-button [routerLink]="['main']">ГЛАВНАЯ</button>
        <button mat-button [routerLink]="['analysis']">АНАЛИЗ</button>
        <button mat-button [routerLink]="['contracts']">ДОГОВОРА</button>
        <button mat-button [routerLink]="['references']">СПРАВОЧНИКИ</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->

  <div id="wrapper">

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>

  </div>
    <!--<sy-table-summary></sy-table-summary>-->
  <!--</mat-sidenav-content>-->
</mat-sidenav-container>
