:host {

  #wrapper {
    padding: 0 16px;
  }

  #appname {
    margin-right: 25px;
    opacity: 0.3;
  }
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
