
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@mixin define-css-classes($theme) {
  @include angular-material-theme($theme);

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // CSS THEME-DEPENDENT-STYLES ARE HERE:
  .theme-dependent-colors {
    background: mat-color($primary);
    color: mat-color($accent);
  }
}*/

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sy-utilities-ui-primary: mat-palette($mat-indigo);
$sy-utilities-ui-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sy-utilities-ui-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sy-utilities-ui-theme: mat-light-theme((
  color: (
    primary: $sy-utilities-ui-primary,
    accent: $sy-utilities-ui-accent,
    warn: $sy-utilities-ui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sy-utilities-ui-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.view-cont {
  padding-top: 20px;
}

.ep-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

hr {
  border: 0;
  border-bottom: 1px solid #e1e1e1;
}

mat-card {
  hr {
    margin-left: -17px;
    margin-right: -17px;
  }
}

.list-cont {
  position: relative;

  button.mat-fab {
    position: fixed;
    bottom: 85px;
    right: 45px;
  }
}
