:host {
  .unit {
    font-weight: 400;
  }

  .unit-ext {
    color: #ABABAB;
    font-size: 65%;
    font-weight: 300;
  }

  .unit-cur {
    padding-left: 7px;
    font-size: 65%;
    font-weight: 300;
    color: #ABABAB;
  }
}
