<div class="u-block-pad">
  <form [formGroup]="formGroup" novalidate>
  <mat-form-field>
    <mat-label>Потребитель</mat-label>
    <mat-select formControlName="consumer" (selectionChange)="onChangeConsumer()">
      <mat-option *ngFor="let consumer of consumers" [value]="consumer.consumerId">
        {{consumer.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="!hidePeriodDate">
    <mat-label>За период</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="periodDate">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>

  <!--<mat-form-field>
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [formControl]="texter">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="texter.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>-->


  <!--<mat-form-field appearance="fill">
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-select-trigger>
        {{toppings.value ? toppings.value[0] : ''}}
        <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
      </span>
      </mat-select-trigger>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>-->
  </form>
</div>
