:host {
  .u-block-pad {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  .example-form-field {
    width: 200px;
  }

  .example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }

  .example-month-picker .mat-calendar-arrow {
    display: none;
  }
}
