<h1 mat-dialog-title>Данные поставщика услуг</h1>

<form [formGroup]="formGroup" novalidate (ngSubmit)="submit()">
  <mat-dialog-content class="mat-typography">

    <div class="ep-container">
      <mat-form-field appearance="fill">
        <mat-label>Имя поставщика</mat-label>
        <input matInput type="text" formControlName="name" required>
      </mat-form-field>
      <br>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="formGroup.pristine || formGroup.invalid" type="submit">OK</button>
  </mat-dialog-actions>
</form>
